h1{text-align: center;
    padding :10px 10px;
     border:2px solid Tomato;
    color:rgb(220, 248, 59);
    font-size:30px;
    font-style:italic,bold;
    
}
.lo_img{
    float:left;
}
.li{
    display: none;
} .lo_img:hover{
    display: none;
}
.lo_img:hover+.li{
    display:block;
    color:rgb(255, 0, 0);
    font-style: italic,bold;
    font-size:20px;
}

p:hover{
    color:aquamarine;
    font-size: 30px;
    font-style:italic;
}
p{font-size: 30px;
    color:aquamarine;
}
blockquote{
    font-size: 20px;
    color:rgb(0, 238, 255);
}
body{
    background-color:rgb(202, 175, 228);
    background-repeat: no-repeat;
    background-image: url('.//img/bg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
  
}
blockquote:hover{
    color:rgb(255, 0, 0);
    font-style: italic;
}
table, th, td {
    border: 1px solid rgb(150, 66, 66);
    border-collapse: collapse;
    background-color: rgba(217, 231, 245, 0.5);

  }
#ti{
      font-size: 15PX;
      font-family: 'Times New Roman';
      color:blanchedalmond;
    }
  #t1 tr:nth-child(even) {
        background-color: rgb(243, 220, 220);
      }
   #t1 tr:nth-child(odd) {
        background-color: #fff;
      }
    #lip
    {font-family: 'Segoe UI';
        font-size: 20px;
        font-style:bold;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
      }
      
      li {
        float: left;
        background-color: rgb(68, 67, 67,0.5);
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111111;
      }